.cd-products-columns {
  /* products list wrapper */
  width: 1762px;
  margin-left: 130px;
}
.cd-products-columns::after {
  clear: both;
  content: "";
  display: table;
}
@media only screen and (min-width: 1170px) {
  .cd-products-columns {
    width: 2210px;
    margin-left: 140px;
  }
}