/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: SF Pro SC,SF Pro Text,SF Pro Icons,PingFang SC,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #404042;
  background-color: #ffffff;
}

a {
  color: #19222B;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2.2rem;
  text-align: center;
  padding: 4em 5%;
}
@media only screen and (min-width: 1170px) {
  h1 {
    font-size: 4rem;
    font-weight: 300;
    padding: 3em 5%;
  }
}

/* -------------------------------- 

-webkit-scrollbar 

-------------------------------- */

::-webkit-scrollbar{
  width: 4px;
  height: 4px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
  -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.1);
  border-radius:5px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
  border-radius:5px;
  -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.1);
  background-color: #bbbbbb;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
#mainLayout{
    position: relative;
    margin: 0 auto;
    z-index: 1; /* 设置父元素的z-index */
}
#mainLayout::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/hubweblogo.webp");
    z-index: 2; /* 设置背景图片的z-index */
    pointer-events: none; /* 让伪元素不接收鼠标事件 */
}

.cd-products-comparison-table {
  margin-bottom: 0em;
}
.cd-products-comparison-table::after {
  /* never visible - this is used in jQuery to check the current MQ */
  display: none;
  content: 'mobile';
}
.cd-products-comparison-table header {
  padding: 6px 2% 12px;
}
.cd-products-comparison-table header::after {
  clear: both;
  content: "";
  display: table;
}
.cd-products-comparison-table h2 {
  float: left;
  font-weight: bold;
}
.cd-products-comparison-table .actions {
  float: right;
}
.cd-products-comparison-table .reset, .cd-products-comparison-table .filter {
  font-size: 1.4rem;
}
.cd-products-comparison-table .reset {
  color: #404042;
  text-decoration: underline;
}
.cd-products-comparison-table .filter {
  padding: .2em 1.2em;
  color: #ffffff;
  background-color: #cccccc;
  border-radius: 3px;
  margin-left: 1em;
  cursor: not-allowed;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.cd-products-comparison-table .filter.active {
  cursor: pointer;
  background-color: #424242;
}
.no-touch .cd-products-comparison-table .filter.active:hover {
  background-color: #a7cea1;
}
@media only screen and (min-width: 1170px) {
  .cd-products-comparison-table {
    margin-bottom: 0em;
  }
  .cd-products-comparison-table::after {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
  .cd-products-comparison-table header {
    padding: 6px 1% 12px 1%;
  }
  .cd-products-comparison-table h2 {
    font-size: 2.4rem;
  }
  .cd-products-comparison-table .reset, .cd-products-comparison-table .filter {
    font-size: 1.6rem;
  }
  .cd-products-comparison-table .filter {
    padding: .2em 1.2em;
    margin-left: 1.6em;
  }
}

.cd-products-table {
  position: relative;
  overflow: hidden;
}

.cd-products-table .features {
  /* fixed left column - product properties list */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 130px;
  border-style: solid;
  border-color: #e6e6e6;
  border-top-width: 1px;
  border-bottom-width: 1px;
  background-color: #fafafa;
  opacity: .9;
}
.cd-products-table .features::after {
  /* color gradient on the right of .features -  visible while scrolling inside the .cd-products-table */
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 4px;
  height: 100%;
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.06), transparent);
  background-image: linear-gradient(to right,rgba(0, 0, 0, 0.06), transparent);
  opacity: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-products-table .features {
    width: 140px;
  }
}

.cd-products-table.scrolling .features::after {
  opacity: 1;
}

.cd-products-wrapper {
  overflow-x: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  border-style: solid;
  border-color: #e6e6e6;
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.cd-products-columns .product {
  position: relative;
  float: left;
  width: 160px;
  text-align: center;
  -webkit-transition: opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, visibility 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
}
.filtering .cd-products-columns .product:not(.selected) {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.no-product-transition .cd-products-columns .product.selected {
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -moz-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}
.filtered .cd-products-columns .product:not(.selected) {
  position: absolute;
}
  /*CPU参数样式*/
  .li-div-cpu{
    margin-left: 2px;
    border-radius:4px;
    float: left;
    background-color:#B0E0E6;
    padding:1px 0;
    font-size:0.9rem;
  }
  .li-div-cpu-one{height:30px;line-height: 28px;}
  .li-div-cpu-a{width: 76px;}
  .li-div-cpu-b{width: 154px;}
  .li-div-cpu-c{width: 50px;}
  .li-div-cpu-d{width: 37px;}
  /*GPU参数样式*/
  .li-div-gpu{
    margin-left: 2px;
    border-radius:4px;
    float: left;
    background-color:#FFB6C1;
    padding:1px 0;
    font-size:0.9rem;
  }
  .li-div-gpu-one{height:30px;line-height: 28px;}
  .li-div-gpu-a{width: 76px;}
  .li-div-gpu-b{width: 154px;}
  .li-div-gpu-c{width: 50px;}
    /*神经引擎参数样式*/
  .li-div-npu{
    margin-left: 2px;
    border-radius:4px;
    float: left;
    background-color:#DCDCDC;
    padding:1px 0;
    font-size:0.9rem;
  }
  .li-div-npu-one{height:30px;line-height: 28px;}
  .li-div-npu-a{width: 76px;}
  .li-div-npu-b{width: 154px;}
  .li-div-npu-c{width: 50px;}
  /*功耗参数样式*/
  .li-div-power{
    margin-left: 2px;
    border-radius:4px;
    float: left;
    background-color:#b4e4b4;
    padding:1px 0;
    font-size:0.9rem;
  }
  .li-div-power-one{height:30px;line-height: 28px;}
  .li-div-power-a{width: 76px;}
  .li-div-power-b{width: 154px;}
  /*性能参数样式*/
  .li-div-score{
    margin-left: 2px;
    border-radius:4px;
    float: left;
    background-color:#FFE4B5;
    font-size:0.9rem;
  }
  .li-div-score-one{height:30px;line-height: 28px;margin-bottom: 3px;}
  .li-div-score-a{width: 76px;}
  .li-div-score-b{width: 154px;}
  .li-div-score-c{width: 50px;}
  .li-div-score-d{width: 37px;}

  /*接口参数样式*/
  .li-div-iostyle{
    margin-left: 2px;
    border-radius:4px;
    float: left;
    background-color:#b4e4d8;
    font-size:0.9rem;
  }
  .li-div-iostyle-one{height:30px;line-height: 28px;}
  .li-div-iostyle-a{width: 76px;}
  .li-div-iostyle-b{width: 154px;}

  /*使用设备样式*/
  .li-div-device{
    margin-left: 2px;
    border-radius:4px;
    float: left;
    padding:1px 0;
    text-align:left;
    padding-left: 10px;
  }
  .li-div-device-one{height:30px;line-height: 28px;}
  .li-div-device-a{width: 76px;}
  .li-div-device-b{width: 154px;}
  .li-div-device-c{width: 50px;}
  .li-div-color{
    width: 150px;
    height: 22px;
    display:flex;
    margin: 0 auto;
    justify-content: center;
  }
  .li-div-color-a{
    width: 22px;
    height: 22px;
    margin: 0 1px;
    border:1px solid;
    border-color: #b9b9b9;
    border-radius: 11px;
  }
  .li-div-color-a:hover{
    border:1px solid;
    border-color: red;
  }
@media only screen and (min-width: 1170px) {
  .cd-products-columns .product {
    width: 200px;
  }
  /*CPU参数样式*/
  .li-div-cpu{
    margin-left: 8px;
    border-radius:4px;
    float: left;
    background-color:#B0E0E6;
    padding:1px 0;
    font-size:1.0rem;
  }
  .li-div-cpu-one{height:30px;line-height: 28px;}
  .li-div-cpu-a{width: 88px;}
  .li-div-cpu-b{width: 182px;}
  .li-div-cpu-c{width: 56px;}
  .li-div-cpu-d{width: 40px;}
  /*GPU参数样式*/
  .li-div-gpu{
    margin-left: 8px;
    border-radius:4px;
    float: left;
    background-color:#FFB6C1;
    padding:1px 0;
    font-size:1.0rem;
  }
  .li-div-gpu-one{height:30px;line-height: 28px;}
  .li-div-gpu-a{width: 88px;}
  .li-div-gpu-b{width: 182px;}
  .li-div-gpu-c{width: 56px;}
  /*神经引擎参数样式*/
  .li-div-npu{
    margin-left: 8px;
    border-radius:4px;
    float: left;
    background-color:#DCDCDC;
    padding:1px 0;
    font-size:1.0rem;
  }
  .li-div-npu-one{height:30px;line-height: 28px;}
  .li-div-npu-a{width: 88px;}
  .li-div-npu-b{width: 182px;}
  .li-div-npu-c{width: 56px;}
  /*功耗参数样式*/
  .li-div-power{
    margin-left: 8px;
    border-radius:4px;
    float: left;
    background-color:#b4e4b4;
    padding:1px 0;
    font-size:1.0rem;
  }
  .li-div-power-one{height:30px;line-height: 28px;}
  .li-div-power-a{width: 88px;}
  .li-div-power-b{width: 182px;}
  /*性能参数样式*/
  .li-div-score{
    margin-left: 8px;
    border-radius:4px;
    float: left;
    background-color:#FFE4B5;
    padding:1px 0;
    font-size:1.0rem;
  }
  .li-div-score-one{height:30px;line-height: 28px;}
  .li-div-score-a{width: 88px;}
  .li-div-score-b{width: 182px;}
  .li-div-score-c{width: 56px;}
  .li-div-score-d{width: 40px;}

  /*接口参数样式*/
  .li-div-iostyle{
    margin-left: 8px;
    border-radius:4px;
    float: left;
    background-color:#b4e4d8;
    padding:1px 0;
    font-size:1.0rem;
  }
  .li-div-iostyle-one{height:30px;line-height: 28px;}
  .li-div-iostyle-a{width: 88px;}
  .li-div-iostyle-b{width: 182px;}

  /*使用设备样式*/
  .li-div-device{
    margin-left: 8px;
    border-radius:4px;
    float: left;
    padding:1px 0;
    text-align:left;
    padding-left: 10px;
  }
  .li-div-device-one{height:30px;line-height: 28px;}
  .li-div-device-a{width: 88px;}
  .li-div-device-b{width: 182px;}
  .li-div-device-c{width: 56px;}
  .li-div-color{
    width: 150px;
    height: 22px;
    display:flex;
    margin: 0 auto;
    justify-content: center;
  }
  .li-div-color-a{
    width: 22px;
    height: 22px;
    margin: 0 2px;
    border:1px solid;
    border-color: #f0f0f0;
  }
  .li-div-color-a:hover{
    border:1px solid;
    border-color: red;
  }
}

.cd-features-list li:nth-of-type(odd) {
  line-height:1.4rem;
  font-size: 1.0rem;
  padding: 8px 0px;
  border-color: #e6e6e6;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  background:#F5F5F5;
}
.cd-features-list li:nth-of-type(even) {
  line-height:1.4rem;
  font-size: 1.0rem;
  padding: 8px 0px;
  border-color: #e6e6e6;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
}
.cd-features-list li.rate {
  /* rating stars */
  padding: 21px 0;
}
.cd-features-list li.rate span {
  display: inline-block;
  height: 22px;
  width: 110px;
  background: url(../img/cd-star.svg);
  color: transparent;
}
@media only screen and (min-width: 1170px) {
  .cd-features-list li:nth-of-type(odd) {
    font-size: 1.0rem;
    background:#F5F5F5;
  }
  .cd-features-list li:nth-of-type(even) {
    font-size: 1.0rem;
  }
  .cd-features-list li.rate {
    padding: 22px 0;
  }
}

.features .cd-features-list li,
.cd-products-table .features .top-info {
  /* fixed left column - items */
  font-size: 1.1rem;
  font-weight: bold;
  /* set line-height value equal to font-size of text inside product cells */
  line-height: 1.4rem;
  padding: 8px 6px;
  text-align: left;
}
@media only screen and (min-width: 1170px) {
  .features .cd-features-list li,
  .cd-products-table .features .top-info {
    /* text-transform: uppercase; */
    line-height: 1.4rem;
    padding: 8px 4px;
    letter-spacing: 1px;
  }
}

.features .cd-features-list li {
  /* truncate text with dots */
  text-align:center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cd-products-table .top-info {
  position: relative;
  height: 158px;
  width: 160px;
  text-align: center;
  padding: 0.5em 0em 0.5em 0em;
  border-color: #e6e6e6;
  border-style: solid;
  border-right-width: 1px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  cursor: pointer;
  background: #ffffff;
}
.cd-products-table .top-info::after {
  /* color gradient below .top-info -  visible when .top-info is fixed */
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  height: 4px;
  width: 100%;
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.06), transparent);
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.06), transparent);
  opacity: 0;
}
.cd-products-table .top-info h3 {
  padding: 0.6em 0em;
  font-weight: bold;
  font-size: 1.2rem;
}
.cd-products-table .top-info img {
  margin: 0 auto;
  width: 90px;
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media only screen and (min-width: 1170px) {
  .cd-products-table .top-info img {
    margin: 0 auto;
    width: 150px;
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}
.cd-products-table .top-info h3, .cd-products-table .top-info img {
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-products-table .top-info .check {
  position: relative;
  display: inline-block;
  height: 14px;
  width: 14px;
  margin: 0 auto 4px;
}
.cd-products-table .top-info .check::after, .cd-products-table .top-info .check::before {
  /* used to create the check icon and green circle dot - visible when product is selected */
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 100%;
  width: 100%;
}
.cd-products-table .top-info .check::before {
  /* green circle dot */
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  background: #ffffff;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, -moz-transform 0.3s, border-color 0.3s;
  transition: background-color 0.3s, transform 0.3s, border-color 0.3s;
}
.cd-products-table .top-info .check::after {
  /* check icon */
  background: url(../img/cd-check.svg) no-repeat center center;
  background-size: 24px 24px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media only screen and (min-width: 1170px) {
  .cd-products-table .top-info {
    height: 220px;
    width: 200px;
  }
  .cd-products-table .top-info h3 {
    padding-top: 6px;
    font-size: 1.4rem;
  }
  .cd-products-table .top-info .check {
    margin-bottom: 4px;
  }
}

.cd-products-table .features .top-info {
  /* models */
  width: 130px;
  line-height: 160px;
  cursor: auto;
  background: #fafafa;
  text-align: center;
}
@media only screen and (min-width: 1170px) {
  .cd-products-table .features .top-info {
	line-height:200px;
    text-align:center;
	width: 140px;
  }
}

.cd-products-table .selected .top-info .check::before {
  /* green circle dot */
  background: #19222B;
  border-color: #19222B;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-animation: cd-bounce 0.3s;
  -moz-animation: cd-bounce 0.3s;
  animation: cd-bounce 0.3s;
}

@-webkit-keyframes cd-bounce {
  0% {
    -webkit-transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.6);
  }
  100% {
    -webkit-transform: scale(1.5);
  }
}
@-moz-keyframes cd-bounce {
  0% {
    -moz-transform: scale(1);
  }
  60% {
    -moz-transform: scale(1.6);
  }
  100% {
    -moz-transform: scale(1.5);
  }
}
@keyframes cd-bounce {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
  }
  100% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
}
.cd-products-table .selected .top-info .check::after {
  /* check icon */
  opacity: 1;
}

@media only screen and (min-width: 1170px) {
  .cd-products-table.top-fixed .cd-products-columns > li,
  .cd-products-table.top-scrolling .cd-products-columns > li,
  .cd-products-table.top-fixed .features,
  .cd-products-table.top-scrolling .features {
    padding-top: 130px;
  }

  .cd-products-table.top-fixed .top-info,
  .cd-products-table.top-scrolling .top-info {
    height: 130px;
    position: fixed;
    top: 0;
  }
  .no-cssgradients .cd-products-table.top-fixed .top-info, .no-cssgradients
  .cd-products-table.top-scrolling .top-info {
    border-bottom: 1px solid #e6e6e6;
  }
  .cd-products-table.top-fixed .top-info::after,
  .cd-products-table.top-scrolling .top-info::after {
    opacity: 1;
  }
  .cd-products-table.top-fixed .top-info h3,
  .cd-products-table.top-scrolling .top-info h3 {
    -webkit-transform: translateY(-116px);
    -moz-transform: translateY(-116px);
    -ms-transform: translateY(-116px);
    -o-transform: translateY(-116px);
    transform: translateY(-116px);
  }
  .cd-products-table.top-fixed .top-info img,
  .cd-products-table.top-scrolling .top-info img {
    -webkit-transform: translateY(-62px) scale(0.4);
    -moz-transform: translateY(-62px) scale(0.4);
    -ms-transform: translateY(-62px) scale(0.4);
    -o-transform: translateY(-62px) scale(0.4);
    transform: translateY(-62px) scale(0.4);
    padding-top:26px;
  }

  .cd-products-table.top-scrolling .top-info {
    position: absolute;
  }
}
.cd-table-navigation a {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 15px;
  -webkit-transform: translateY(55px);
  -moz-transform: translateY(55px);
  -ms-transform: translateY(55px);
  -o-transform: translateY(55px);
  transform: translateY(55px);
  /* replace text with image */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  height: 60px;
  width: 40px;
  background: rgba(64, 64, 66, 0.8) url("../img/cd-arrow.svg") no-repeat center center;
  border-radius: 3px;
  -webkit-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
  -moz-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -moz-transform 0.3s;
  transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, transform 0.3s;
}
.cd-table-navigation a.inactive {
  opacity: 0;
  visibility: hidden;
}
.cd-table-navigation a.prev {
  left: 130px;
  right: auto;
  -webkit-transform: translateY(55px) translateX(15px) rotate(180deg);
  -moz-transform: translateY(55px) translateX(15px) rotate(180deg);
  -ms-transform: translateY(55px) translateX(15px) rotate(180deg);
  -o-transform: translateY(55px) translateX(15px) rotate(180deg);
  transform: translateY(55px) translateX(15px) rotate(180deg);
}
.no-touch .cd-table-navigation a:hover {
  background-color: #404042;
}
@media only screen and (min-width: 1170px) {
  .cd-table-navigation a {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
  }
  .cd-table-navigation a.prev {
    left: 140px;
    -webkit-transform: translateY(100px) translateX(15px) rotate(180deg);
    -moz-transform: translateY(100px) translateX(15px) rotate(180deg);
    -ms-transform: translateY(100px) translateX(15px) rotate(180deg);
    -o-transform: translateY(100px) translateX(15px) rotate(180deg);
    transform: translateY(100px) translateX(15px) rotate(180deg);
  }
  .top-fixed .cd-table-navigation a {
    position: fixed;
  }
  .top-fixed .cd-table-navigation a, .top-scrolling .cd-table-navigation a {
    -webkit-transform: translateY(45px);
    -moz-transform: translateY(45px);
    -ms-transform: translateY(45px);
    -o-transform: translateY(45px);
    transform: translateY(45px);
  }
  .top-fixed .cd-table-navigation a.prev, .top-scrolling .cd-table-navigation a.prev {
    -webkit-transform: translateY(45px) translateX(15px) rotate(180deg);
    -moz-transform: translateY(45px) translateX(15px) rotate(180deg);
    -ms-transform: translateY(45px) translateX(15px) rotate(180deg);
    -o-transform: translateY(45px) translateX(15px) rotate(180deg);
    transform: translateY(45px) translateX(15px) rotate(180deg);
  }
}

/* -------------------------------- 

No JS

-------------------------------- */
.no-js .actions {
  display: none;
}

.no-js .cd-products-table .top-info {
  height: 145px;
}
@media only screen and (min-width: 1170px) {
  .no-js .cd-products-table .top-info {
    height: 248px;
  }
}

.no-js .cd-products-columns .check {
  display: none;
}
.ul-ext-left {
  float: left;
  width: 50px;background-color: #F5F5F5;
}
.ul-ext-right {
  float: left;
  width: 80px;
}
@media only screen and (min-width: 1170px) {
  .ul-ext-left {
    float: left;
    width: 55px;background-color: #F5F5F5;
  }
  .ul-ext-right {
    float: left;
    width: 85px;
  }
}
.actions_a{
  font-size: 12px;
  color: #222222;
}
.actions_span{
  font-size: 10px;
  font-style:oblique;
  color: #a6a6a6;
}
.ai_text{
  background: linear-gradient(to right, #4eb4ff, #9a6bf9, #ea7097, #f0b84b); /* 设置文字颜色为从红色渐变到绿色 */
  -webkit-background-clip: text; /* 设置背景裁剪为文字 */
  color: transparent; /* 隐藏文字本身的颜色 */
}